---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from "../../components/BlogPost.astro";
import Tags from "../../components/Tags.astro";

export async function getStaticPaths() {
    const allPosts = Object.values(import.meta.glob('../posts/*.md', {eager: true}));
    const tags = [...new Set(allPosts.flatMap((post: any) => post.frontmatter.tags))];

    return tags.map((tag: any) => {
        return {params: {tag: tag},
            props: {posts: allPosts.filter((post: any) => post.frontmatter.tags?.includes(tag))}}
    });
}

const {tag} = Astro.params;
const {posts} = Astro.props;
---
<BaseLayout pageTitle={tag}>
    <Tags/>
    <p>Posts tagged with {tag}</p>
    <ul>
        {posts.map((post: any) =>
                <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>